parameters:
    level: 8
    checkMissingIterableValueType: false
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Parameter \#2 \$locale of function setlocale expects array\|string\|null, int given.#'
        - '#^Method .*::getTranslatedValues\(\) is unused\.$#'