/* Source: https://loading.io/css/ */
:root{
    --three-dots-loader-factor: 0.65;
    --three-dots-loader-color: black;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: calc(80px * var(--three-dots-loader-factor));
    height: calc(80px * var(--three-dots-loader-factor));
    vertical-align: middle;
}
.lds-ellipsis div {
    position: absolute;
    top: calc(33px * var(--three-dots-loader-factor));
    width: calc(13px * var(--three-dots-loader-factor));
    height: calc(13px * var(--three-dots-loader-factor));
    border-radius: 50%;
    background: black;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: calc(8px * var(--three-dots-loader-factor));
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: calc(8px * var(--three-dots-loader-factor));
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: calc(32px * var(--three-dots-loader-factor));
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: calc(56px * var(--three-dots-loader-factor));
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(calc(24px * var(--three-dots-loader-factor)), 0);
    }
}
