/* Dark mode */
:root {
    --primary-color: #2e3e50;
    /* Background colors */
    --background-color: white;
    --background-light-accent-color: #f5f5f5;
    --background-accent-color: #efefef;
    --background-accent-1-color: #eaeaea;
    --background-accent-2-color: #e8e8e8;
    --background-accent-3-color: #d5d5d5;
    --border-accent-2-color: #d5d5d5;
    --accent-color-when-dark: white;
    --translucent-background: rgba(255, 255, 255, 0.8);
    /* Text */
    --primary-text-color: #2e3e50;
    --secondary-text-color: rgba(46, 62, 80, 0.80);
    --grey-secondary-text-color: #575757;
    --title-color: black;
    --black-text-color: black;
    /* Filters */
    /* Styles the black svg icons to the primary color #2e3e50 */
    --primary-color-filter: invert(20%) sepia(9%) saturate(2106%) hue-rotate(172deg) brightness(93%) contrast(86%);
    --primary-color-accent-filter: var(--primary-color-filter); /* Accent only needed for dark mode */
    --invert-when-dark-filter: none;
    --accent-2-filter: invert(17%) sepia(9%) saturate(1712%) hue-rotate(170deg) brightness(92%) contrast(94%);
    /* Other values */
    --default-box-shadow: 0 2px 10px rgba(46, 62, 80, 0.24);
    /* Hover */
    --hover-box-shadow: 0 2px 5px rgba(46, 66, 80, 0.12);
    --hover-background-color: rgba(46, 62, 80, 0.1);
    /* Buttons */
    --btn-color: #f5f5f5;
    --btn-orange-color: #ffc081;
    --btn-red-color: #ff8d81;
}

[data-theme="dark"] {
    --primary-color: #4f6b8a;
    /* Background colors */
    --background-color: #101213;
    --background-light-accent-color: #1f2425;
    --background-accent-color: #1f2425;
    --background-accent-1-color: #262b31;
    --background-accent-2-color: #2c343d;
    --background-accent-3-color: #323a44;
    --background-accent-4-color: #3c4652;
    --border-accent-2-color: #3c4143;
    --accent-color-when-dark: var(--background-accent-color);
    /* Text */
    --primary-text-color: #c3cad0;
    --secondary-text-color: #919fac;
    --grey-secondary-text-color: #acb1c2;
    --title-color: #c3cad0;
    --black-text-color: white;
    /* Filters */
    /* Styles the black svg icons to a color similar to the primary color */
    --primary-color-filter: invert(45%) sepia(10%) saturate(1191%) hue-rotate(171deg) brightness(100%) contrast(100%);
    --primary-color-accent-filter: invert(38%) sepia(10%) saturate(1591%) hue-rotate(171deg) brightness(140%) contrast(85%);
    --invert-when-dark-filter: invert(80%);
    --accent-2-filter: invert(38%) sepia(6%) saturate(1000%) hue-rotate(180deg) brightness(110%) contrast(80%);
    /* Other values */
    --default-box-shadow: 0 2px 15px rgba(74, 91, 114, 0.5);
    /* Hover */
    --hover-box-shadow: 0 2px 5px rgba(201, 232, 255, 0.12);
    --hover-background-color: #212325;
    /* Buttons */
    --btn-color: #464f5d;
    --btn-orange-color: #c4884e;
    --btn-red-color: #da5f52;
}

/* Default styles for common HTML elements (tag name as selectors) */
body, html {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Needed for flash messages sliding in */
}

* {
    /* border-box specifies that the borders and padding should be attributed to element's width
    and height and not overflowing to the parent.
    https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
    box-sizing: border-box;
    /*font-family: Comfortaa, DM-Sans, Geneva, AppleGothic, sans-serif;*/
    font-family: SF-Pro-Text, CenturyGothic, Geneva, AppleGothic, sans-serif;
    /*letter-spacing: 2px;*/
    transition: background-color 250ms, color 250ms, border-color 250ms;
}

a {
    color: black;
}

h2, h1, h3 {
    color: var(--title-color);
    /*text-shadow: 0 0px 5px rgba(255, 255, 255, 0.4);*/
    font-family: SF-Pro Display, Helvetica, sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

a {
    text-decoration: none;
}

a:hover:not(a.currently-editable):not(#nav-container a) {
    /*text-shadow: 0 0 1px black;*/
    /*font-weight: bold;*/
    /*text-decoration: none;*/
    text-decoration: underline;
    /*font-weight: 500;*//*The issue with making text bold is that it expands the container the link is in*/
}

@font-face {
    font-family: Comfortaa;
    src: url(../general-font/Comfortaa.ttf);
}

@font-face {
    font-family: SF-Pro-Text;
    src: url(../general-font/SF-Pro/SF-Pro.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: SF-Pro-Text;
    src: url(../general-font/SF-Pro/SF-Pro-Text-Regular.otf) ;
    font-weight: normal;
}

@font-face {
    font-family: SF-Pro-Text;
    src: url(../general-font/SF-Pro/SF-Pro-Text-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: SF-Pro-Text;
    src: url(../general-font/SF-Pro/SF-Pro-Text-Medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: SF-Pro-Text;
    src: url(../general-font/SF-Pro/SF-Pro-Text-Thin.otf);
    font-weight: 300;
}

@font-face {
    font-family: SF-Pro Display;
    src: url(../general-font/SF-Pro/SF-Pro-Display-Heavy.otf);
    font-weight: 800;
}

@font-face {
    font-family: SF-Pro Display;
    src: url(../general-font/SF-Pro/SF-Pro-Display-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: SF-Pro Display;
    src: url(../general-font/SF-Pro/SF-Pro-Display-Semibold.otf);
    font-weight: 500;
}

@font-face {
    font-family: SF-Pro Display;
    src: url(../general-font/SF-Pro/SF-Pro-Display-Medium.otf);
    font-weight: 400;
}

@font-face {
    font-family: SF-Pro Display;
    src: url(../general-font/SF-Pro/SF-Pro-Display-Regular.otf);
    font-weight: 300;
}


@font-face {
    font-family: DM-Sans;
    src: url(../general-font/DMSans-Regular.ttf);
}