/* Default styles for common HTML elements (tag name as selectors) */
body, html {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Needed for flash messages sliding in */
}

* {
    /* border-box specifies that the borders and padding should be attributed to element's width
    and height and not overflowing to the parent.
    https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
    box-sizing: border-box;
    /*font-family: Comfortaa, DM-Sans, Geneva, AppleGothic, sans-serif;*/
    font-family: SF-Pro-Text, CenturyGothic, Geneva, AppleGothic, sans-serif;
    /*letter-spacing: 2px;*/
}

a {
    color: black;
}

h2, h1, h3 {
    color: black;
    /*text-shadow: 0 0px 5px rgba(255, 255, 255, 0.4);*/
    font-family: SF-Pro Display, Helvetica, sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

a {
    text-decoration: none;
}

a:hover:not(a.currently-editable):not(#nav-container a) {
    /*text-shadow: 0 0 1px black;*/
    /*font-weight: bold;*/
    /*text-decoration: none;*/
    text-decoration: underline;
    /*font-weight: 500;*//*The issue with making text bold is that it expands the container the link is in*/
}

@font-face {
    font-family: Comfortaa;
    src: url(../general-font/Comfortaa.ttf);
}

@font-face {
    font-family: SF-Pro-Text;
    src: url(../general-font/SF-Pro/SF-Pro.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: SF-Pro-Text;
    src: url(../general-font/SF-Pro/SF-Pro-Text-Regular.otf) ;
    font-weight: normal;
}

@font-face {
    font-family: SF-Pro-Text;
    src: url(../general-font/SF-Pro/SF-Pro-Text-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: SF-Pro-Text;
    src: url(../general-font/SF-Pro/SF-Pro-Text-Medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: SF-Pro-Text;
    src: url(../general-font/SF-Pro/SF-Pro-Text-Thin.otf);
    font-weight: 300;
}

@font-face {
    font-family: SF-Pro Display;
    src: url(../general-font/SF-Pro/SF-Pro-Display-Heavy.otf);
    font-weight: 800;
}
@font-face {
    font-family: SF-Pro Display;
    src: url(../general-font/SF-Pro/SF-Pro-Display-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: SF-Pro Display;
    src: url(../general-font/SF-Pro/SF-Pro-Display-Semibold.otf);
    font-weight: 500;
}

@font-face {
    font-family: SF-Pro Display;
    src: url(../general-font/SF-Pro/SF-Pro-Display-Medium.otf);
    font-weight: 400;
}

@font-face {
    font-family: SF-Pro Display;
    src: url(../general-font/SF-Pro/SF-Pro-Display-Regular.otf);
    font-weight: 300;
}


@font-face {
    font-family: DM-Sans;
    src: url(../general-font/DMSans-Regular.ttf);
}

@media (min-width: 961px) {

    /*Scrollbar*/
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        border-radius: 20px;
        background: #dcdcdc;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #a1a1a1;
        border-radius: 20px;
    }
}

