/* General style of page components with a custom selector (class / id) */
a.currently-editable {
    cursor: default;
}

[contenteditable="true"] {
    cursor: text;
}

.green-text {
    color: limegreen;
}

.breakParagraph {
    word-break: break-word;
}

/* Divs */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.no-animation-on-page-load {
    transition: none !important;
}

/*Center title and plus button next to it*/
.vertical-center {
    display: flex;
    align-items: center;
}

/* Button */
.btn {
    /*background-color: var(--layout-main-button-color);*/
    /*background-color: #e1ecf9; light blueish*/

    background: rgb(234, 234, 234);
    color: #000000;
    padding: 13px 25px;

    /*font-weight: 500;*/
    border: none;
    /*padding: 8px 20px;*/
    margin: 15px 0 0;
    border-radius: 14px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 2px 3px 11px #ccc;
    text-decoration: none; /* For when <a> is used as button */
    display: inline-block; /* For when <a> is used as button and when icon is used */
    letter-spacing: 0.5px;
}

.btn:hover {
    /* Example: alert modal box cancel button or change password in profile */
    /*background: var(--layout-main-button-hover-color);*/
    /*background: #a2bad7;*/
    box-shadow: 0 0 10px #c0c0c0;
    font-weight: normal !important; /* For when <a> to behave as button */
    background-color: rgb(203 203 203);

}

.btn:focus {
    /*background: #7d97b5;*/
    background-color: rgb(183, 183, 183);
}

.btn:disabled {
    background: whitesmoke;
    color: grey;
    cursor: default;
}

.btn-red {
    background: #ff8d81;
    /*border: 1px solid #b2180e;*/
}

.btn-red:hover {
    background-color: #f87f74;
    /*border: 2px solid tomato;*/
    /*background: initial;*/
}

.btn-red:focus {
    background: #de6e5f;
}
.btn-orange {
    background: #ffc081;
    /*border: 1px solid #b2180e;*/
}

.btn-orange:hover {
    background-color: #f6af6e;
    /*border: 2px solid tomato;*/
    /*background: initial;*/
}

.btn-orange:focus {
    background: #e59a56;
}



.icon-btn {
    width: 18px;
    float: left;
    margin-right: 0.5em;
}

.modal-btn {
    padding: 12px 20px;
    border-radius: 99px;
}

.discrete-text {
    text-decoration: none;
    /*font-style: italic;*/
    color: var(--layout-lighter-text-color);
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
}

.discrete-text:hover {
    color: #000000;
    /*font-weight: 500;*/
    text-decoration: none !important;
}

.secondary-text {
    color: var(--layout-lighter-text-color);
}

.layout-color-text {
    color: var(--layout-lighter-text-color);
}

.display-newlines {
    white-space: pre-line;
}

#recaptcha {
    display: none;
}

#recaptcha > div:first-of-type {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 50px;
}

.error-panel {
    display: block;
    padding: 12px 20px;
    border-radius: 15px;
    background: rgb(255, 189, 177);
    border-bottom: 3px solid #b25353;
}

.default-select {
    border-radius: 99px;
    padding: 5px;
    border: 1.5px solid #2e3e50;
    background: white;
}

.bigger-select {
    border: 3px solid #2e3e50;
    padding: 7px;
    background: #f3f3f3;
    color: #2e3e50;
    font-weight: bold;
    font-size: 16px;
}

.bigger-select-label {
    display: block;
    font-weight: bold;
    color: rgba(46, 62, 80, 0.84);
    font-size: 13px;
    margin: 0 0 5px 7px;
}

/*Icon container with divs inside that contain the img and value span*/
.default-icon-container div {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    gap: 10px;
    margin-top: 5px; /* space here for when wrapping */
    height: 100%;
}

.default-icon-container div img, .default-icon {
    height: 20px;
}

/*disable resize on auto-resize-textareas*/
.auto-resize-textarea {
    resize: none;
}

.relative {
    position: relative;
}

.main-color-text {
    color: #2e3e50;
}

.main-color-discrete-text {
    color: #576381;
}

.discrete-text {
    color: #5e5e5e;
}

[data-deleted="1"] {
    color: orangered;
}

.cursor-pointer {
    cursor: pointer;
}

/* Vertically align middle */
.vertical-middle {
    vertical-align: middle;
}
.vertical-middle h1, .vertical-middle h2 {
    display:inline-block;
    vertical-align: middle;
}

/* Collapsible elements */
.collapsible-button {
    cursor: pointer;
}
.collapsible-content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

@media (min-width: 961px) {

}