<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
            integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
            crossorigin="anonymous"></script> -->
    <script src="/../lib/jquery-3.5.0.js"></script>
    <link rel="stylesheet" href="/../css/form.css">
    <link rel="stylesheet" href="/../css/style.css">
    <link rel="stylesheet" href="/../css/plus_button.css">
    <link rel="stylesheet" href="/../css/modal.css">
    <link rel="stylesheet" href="/../css/loader.css">
    <title>Title</title>
</head>
<body>
<div class="wrapper">
    <div id="header">
        <h1>Slim example project</h1>

        <button id="userListNavBtn">User list</button>
        <button id="profileNavBtn">Profile</button>
        <button id="loginNavBtn">Login</button>
        <button id="registerNavBtn">Register</button>
        <button id="ownPostsNavBtn">Own posts</button>
        <button id="allPostsNavBtn">All posts</button>
    </div>

    <div id="pageContent">
        <!--    Display all users an user     -->
        <div class="verticalCenter">
            <h2 style="display:inline-block;">Login</h2>
        </div>

        <div class="formBox" id="loginFormBox">
            <!--           todo low prio Add automated redirect after success -->
            <form action="/login" id="loginForm" class="blueForm" method="post" autocomplete="on">
                <!--           todo high prio add wrong credentials functionality
                <?php if (!empty($errClassName)) { ?>
                                <span class="errSpan">Wrong credentials. Please try again.</span> <br> <br>
                                <?php } ?>-->
                <label for="loginEmailInp">Email</label>
                <!--             todo normal add error class ("wrongCredInput") to both inputs-->
                <input type="email" name="email" id="loginEmailInp" class=""
                       placeholder="your@email.com"
                       maxlength="254"
                       required>
                <label for="loginPasswordInp">Password</label>
                <input type="password" name="password" id="loginPasswordInp"
                       minlength="3" required>
<!--                <br><a class="discreteLink" href="login/password/reset/mail">Lost password?</a>-->

                <button type="button" class="submitBtn" id="submitBtnLogin">Login</button>
            </form>
            <br>Not registered? <a href="register">Register</a></div>
    </div>
</div>
<script src="/../js/config.js"></script>
<script src="/../js/pageContentManager.js"></script>
<script src="/../js/general_scripts.js"></script>
<script src="/../js/modal.js"></script>
<script src="/../js/authentication.js"></script>
</body>
</html>
