<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
            integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
            crossorigin="anonymous"></script> -->
    <script src="/lib/jquery-3.5.0.js"></script>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/plus_button.css">
    <link rel="stylesheet" href="/css/form-modal.css">
    <link rel="stylesheet" href="/css/loader.css">
    <title>Title</title>
</head>
<body>
<div class="wrapper">
    <div id="header">
        <h1>Slim api template</h1>

        <button id="userListNavBtn">User list</button>
        <button id="profileNavBtn">Profile</button>
        <button id="loginNavBtn">Login</button>
        <button id="registerNavBtn">Register</button>
        <button id="ownPostsNavBtn">Own posts</button>
        <button id="allPostsNavBtn">All posts</button>
    </div>

    <div id="pageContent">
        <!--    Display all users an user     -->
        <div class="verticalCenter">
            <h2 style="display:inline-block;">Own posts</h2>
            <div class="plus-btn" id="createPostBtn"></div>

        </div>


        <div id="createPostDiv">
        </div>
        <div id="postsDiv">
            <p>Loading...</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<script src="/js/config.js"></script>
<script src="/js/pageContentManager.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/general_scripts.js"></script>
<script src="/js/posts.js"></script>
<script src="/js/own_posts.js"></script>

</body>
</html>
