@import url("https://fonts.googleapis.com/css?family=DM+Sans&display=swap");

* {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

a {
    color: black;
}

a:hover {
    font-weight: bold;
    text-decoration: none;
}

.wrapper {
    width: 40%; /* Has to be the same than .outMenuDiv */
    margin: auto;
    min-width: 500px;
}

.pageContent {
    width: 100%;
}

/* Profile */
.profileForm input[type=submit] {
    /*padding: 6px 6px;*/
    width: 30%;
    min-width: 160px;
    /*font-size: 90%;*/
}

/*
.profileForm input[type=submit]:after {
    content: '';
    display: block;
    clear: both;
}*/

.cursorPointer {
    cursor: pointer;
}

#changeEmailDiv, #updatePasswordDiv, #changeBirthdateDiv {
    display: none;
}

#ownPostBtn {
    margin-bottom: 0;
}

.delIcon {
    width: 30px;;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 20px;
}
