/* Stylesheet of the profile view */

#personal-info-wrapper{
    display: grid;
    row-gap: 20px;
}
.profile-value-title{
    font-size: 1.4em;
    font-weight: bold;
}
.profile-value {
    font-size: 1.3em;
    /* Along with vertical-align middle on the edit-icon to center it vertically*/
    vertical-align: middle;
}
.edit-profile-value-btn{
    max-width: 100px;
    padding: 6px 30px;
    margin: 0 0 0 20px;
}
.profile-value-div{
    /*line-height: 0;*/

}
.edit-icon {
    /*display: none;*/
    width: 30px;
    margin: 0 0 0 14px;
    /* Along with vertical-align middle on profile-value to center it vertically*/
    vertical-align: middle;
}

/* Overwrite form.css rule to match profile view */
.form-input{
    width: auto;
    font-size: 1.2em;

}