/* Stylesheet of the profile view */
/* mobile first min-width sets base and content is adapted to computers. */
@media (min-width: 100px) {
    #personal-info-wrapper {
        display: grid;
        row-gap: 20px;
    }

    .profile-value-title {
        font-size: 1.4em;
        font-weight: bold;
    }

    .profile-value {
        font-size: 1.3em;
        /* Along with vertical-align middle on the edit-icon to center it vertically*/
        vertical-align: middle;
    }

    .edit-profile-value-btn {
        max-width: 100px;
        padding: 6px 30px;
        margin: 0 0 0 20px;
    }

    .profile-value-div {
        margin-top: 5px;
    }

    .contenteditable-edit-icon {
        /*display: none;*/
        width: 30px;
        margin: 0 0 0 14px;
        /* Along with vertical-align middle on profile-value to center it vertically*/
        vertical-align: middle;
    }

    /* Overwrite form.css rule to match profile view */
    .form-input {
        /* Full width minus edit save icon and loader plus space */
        width: calc(100% - 60px) ;
        max-width: 300px;
        font-size: 1.2em;
        display: inline-block;
        vertical-align: middle;
        /* Remove default margin for the loader to be aligned */
        margin-top: 0;
    }

    .profile-value-submit-icon {
        width: 35px;
        vertical-align: middle;
        filter: brightness(130%);
    }
    .profile-value-submit-icon,
    /* Make addition to three-dots-loader.css */
    .lds-ellipsis {
        margin: 0 0 0 14px;
    }

    .profile-value-submit-icon:hover {
        filter: drop-shadow(0px 0px 3px rgb(139, 255, 105)) brightness(100%);
    }
}

@media (min-width: 400px) {

}

@media (min-width: 641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

}

@media (min-width: 961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */

}