/* mobile first min-width sets base and content is adapted to computers. */
@media (min-width: 100px) {
    .user-field-value-container {
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 18px;
    }

    .user-field-value-container span {
        padding: 5px 0px;
    }
    .user-field-value-container span[contenteditable="true"]{
        padding: 5px;
    }

    .label-h3 {
        margin-bottom: 5px;
    }

    #user-dropdown-container {
        width: 100%;
        margin-bottom: 20px;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        flex-grow: 1;
        column-gap: 6vw;
        row-gap: 20px;
    }

    #user-dropdown-container div {
        display: inline-block;
        /*margin-right: 40px;*/
    }
}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width: 641px) {
    #user-dropdown-container {
        width: auto;
    }
}