/*Collapsible panels holding content used in dashboard for e.g.*/
/*mobile first min-width sets base and content is adapted to computers.*/
@media (min-width: 100px) {
    .panel-container {
        flex-grow: 1;
        border-radius: 40px;
    }

    .panel-header {
        background: var(--background-accent-5-color);
        overflow: hidden;
        border-radius: 32px 32px 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    .panel-header h2 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 20px;
        font-size: 1.5em;
        font-weight: 600;
        display: inline-block;
    }

    .panel-content {
        padding: 7px;
        height: auto;
        overflow: hidden;
        background: var(--background-accent-2-color);
        border-radius: 0 0 30px 30px;
    }

    .panel-content h3 {
        font-size: 1.4em;
        margin-bottom: 5px;
    }

    .panel-content a {
        background: var(--background-accent-4-color);
        padding: 2px;
        border-radius: 5px;
    }

    .panel-content a:hover {
        /*Without the important keyword it does not work. The specificity is in layout.css is too high because
         of the :not() selectors*/
        text-decoration: none !important;
        background: none;
        /*background: #d0d2de;*/
    }

    /*Open / close toggle arrow*/
    .toggle-panel-icon {
        width: 35px;
        transition: transform .3s;
        cursor: pointer;
        float: right;
        margin-right: 20px;
        padding: 9px 9px;
        transform: rotateZ(180deg);
        filter: var(--invert-when-dark-filter);
    }

    .panel-container.collapsed .toggle-panel-icon {
        transform: rotateZ(0deg);
    }

    /*Collapsed panel*/
    .panel-container.collapsed .panel-content {
        max-height: 0;
        min-height: 0 !important; /*Important otherwise user activity panel that has a min-height doesn't get overridden*/
        /*Remove padding that was inside so that its fully collapsed*/
        padding: 0;
    }

    .panel-container.collapsed .panel-header {
        /*Make all borders rounded when collapsed*/
        border-radius: 32px;
    }

    /*Make note visible by adding more accent*/
    .dashboard-panel-container .client-note-wrapper textarea {
        background-color: var(--background-accent-4-color);
    }
}

@media (min-width: 400px) {
    /*Breakpoint at which side padding can be added and clients still have enough space*/
    .panel-content {
        padding: 20px;
    }
}

@media (min-width: 641px) {
}