@media (min-width: 100px) {
    #modal-box {
        min-width: 0px;
    }
}

@media (min-width: 641px) {
    #modal-box {
        /*min-width: 500px;*/
        width: 95%;
    }
}

@media (min-width: 900px) {
    #modal-box {
        /*min-width: 500px;*/
        width: 80%;
    }
}

@media (min-width: 1500px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    #modal-box {
        width: 70%;
    }
}

@media (min-width: 1700px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    #modal-box {
        width: 60%;
    }
}
