@media (min-width: 100px) {
    #modal-box {
        min-width: 0px;
    }
}

@media (min-width: 641px) {
    #modal-box {
        /*min-width: 500px;*/
        width: 95%;
    }
}

@media (min-width: 900px) {
    #modal-box {
        /*min-width: 500px;*/
        width: 80%;
    }
}