/* mobile first min-width sets base and content is adapted to computers. */
@media (min-width: 100px) {
    .status-and-assigned-user-div select {
        /*border: 3px solid #2e3e50;*/
        background: #f3f3f3;
        color: #2e3e50;
        font-weight: bold;
        font-size: 16px;
    }
    .dropdown-label {
        display: block;
        font-weight: bold;
        color: rgba(46, 62, 80, 0.84);
        font-size: 13px;
        margin: 0 0 3px 7px;
    }
    .status-and-assigned-user-div div{
        display: inline-block;
    }
    .status-and-assigned-user-div{
        display: flex;
        justify-content: space-between;
        column-gap: 6%;
    }

    #main-info-textarea-div{
        flex-grow: 1;
    }
    #main-info-textarea-div textarea{
        border-radius: 30px;
        border: 4px solid #2e3e50;
        /*border: none;*/
        padding: 15px 20px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        /*box-shadow: 0 0px 20px 10px #ffdfa3;*/
        background: white;
        background: #2e3e50;
        color: white;
        font-size: 18px;
        line-height: 23px;
        width: 100%;
    }
    #main-info-textarea-div textarea:focus{
        /*color: #2e3e50;*/
        /*border: 4px solid #9cbae3;*/
        outline: #2e3e50;
        box-shadow: 0 2px 10px #2e3e50;
    }


    /*This grid places all the icons and their span value with the same space between icon and text*/
    #client-personal-info-flex-container{
        display: inline-block;
        padding: 10px;
        border-radius: 30px;
        float: right;
        margin: 0 30px 0 0;
        box-shadow: 0 2px 7px rgba(0, 0, 0, 0.14);
    }
    #client-personal-info-flex-container div{
        display:grid;
        grid-template-columns: 20px auto;
        grid-row: auto;
        grid-column-gap: 15px;
        align-items: center;
        padding: 10px 15px;
        border-radius: 22px;
        cursor: pointer;
        margin-top: 0px;
        font-size: 20px;
    }
    /*Increase icon size*/
    #client-personal-info-flex-container div img{
        width: 20px;
    }
    #client-personal-info-flex-container div:hover{
        box-shadow: 0 2px 5px rgba(46, 66, 80, 0.12);
        background: rgba(0, 0, 0, 0.05);
    }
    #client-personal-info-flex-container div:focus {
        background: rgba(0, 0, 0, 0.1);
    }

    .client-activity-textarea-div{
        /* Style to add checkmark icon on save source: https://stackoverflow.com/a/53123267/9013718 */
        position: relative;
        display: inline-block;
        width: 70%;
    }

    .client-activity-textarea-div textarea{
        border-radius: 30px;
        border: none;
        width: 100%;
        font-size: 15px;
        background: rgba(46, 66, 80, 0.08);
        padding: 15px 45px 15px 25px;
        line-height: 21px;
        /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);*/
        margin-bottom: 20px;
    }
    .client-activity-textarea-div textarea:focus{
        outline: #eef0f1;
        box-shadow: 0 2px 10px rgba(46, 62, 80, 0.24);
    }

    .circle-loader.client-read {
        position: absolute;
        right: 15px;
        top: 15px;
        background: #eef0f1;
        /*box-shadow: 0 1px 3px rgba(46, 62, 80, 0.24);*/
    }



}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width: 641px) {
    .status-and-assigned-user-div {
        margin-right: 10%;
    }
}

@media (min-width: 961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

