/* mobile first min-width sets base and content is adapted to computers. */
@media (min-width: 100px) {
    /* Cards */
    #client-wrapper {
        width: 100%;
        display: flex;
        gap: 30px 40px;
        flex-wrap: wrap;
        padding: 0 10px;
        margin-top: 80px;
    }

    .client-profile-card {
        width: 100%;
        min-width: 250px;
        position: relative;
        display: flex;
        /*background: #f6f6f6;*/
        /*border: 1px solid rgba(243, 243, 243, 0.55);*/
        /*box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);*/
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

        border-radius: 30px;
        max-width: 650px;
        /*overflow-wrap: anywhere;*/
        /*white-space: nowrap;*/
        overflow: hidden; /* To prevent header and content overflowing border radius */
    }
    .profile-card-header {
        padding: 20px 20px 5px 20px;
        /*background: #d7b9b9;*/
        background: WHITE;
        /*width: 100%;*/
    }
    .profile-card-avatar{
        width: 100px;
        height: 100px;
        display: block; /* To center avatar image */
        margin: auto;
        position: relative;
        /*background: rgba(0,0,0,.1);*/
        background: #ececec;
        border-radius: 99px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }
    .profile-card-avatar img {
        padding: 5px;
        border-radius: 99px;
    }
    /* Age */
    .profile-card-avatar span{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 35px;
        height: 35px;
        right: -20px;
        top: 5px;
        border-radius: 99px;
        z-index: 2;
        background: white;
        border: 3px solid #2e3e50;
        box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
        font-weight: bold;
    }
    .profile-card-content{
        padding: 0 20px 20px 20px;
        background: #ececec;
        /*width: 100%;*/
    }
    .client-profile-card h3{
        text-align: center;
        padding-top: 18px;
        margin-top: 0; /* To prevent gap between divs */
        margin-bottom: 15px;
    }
    /* Two different flex boxes make the second one containing the dropdowns below the phone and location info */
    .profile-card-infos-flexbox, .profile-card-assignee-and-status{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between; /* align the flex box items to the left and right*/
        column-gap: 15px;
    }
    /* Make divs inside flexbox also flexbox to align text with icon*/
    .profile-card-infos-flexbox div{
        display: flex;
        align-content: center;
    }
    /* Name of the location */
    .profile-card-infos-flexbox div .profile-card-content-icon {
        margin-right: 10px;
        height: 20px;
    }

    .profile-card-assignee-and-status{
        margin-top: 15px;
    }


    .profile-card-content select{
        border-radius: 99px;
        padding: 5px;
        border: 1.5px solid #2e3e50;
    }


    .profile-client-card:hover {
        box-shadow: inset 0 0 0 0px black;
    }

    .profile-client-card:hover > .card-del-icon, .profile-client-card:hover > .profile-card-edit-icon {
        display: inline;
    }


    .client-card-additional-info{
        font-style: italic;
        color: #575757;
        line-height: 1.5em;
        font-size: 0.9em;
        margin-bottom: 0;
    }

    .contact-btn {
        width: 50%;
        margin: auto;
    }

    .card-del-icon {
        display: none;
        width: 20px;;
        position: absolute;
        right: 0px;
        top: 0px;
        margin: 20px;
    }

    .card-edit-icon {
        display: none;
        width: 30px;;
        position: absolute;
        right: 40px;
        top: 0px;
        margin: 15px;
    }

    /* Loader that replaces the delete icon after clicking on it */
    .client-card-del-loader {
        /*  Loader size changed in javascript  */
        position: absolute;
        right: 0;
        top: 0;
        margin: 10px 12px;
    }
}

@media (min-width: 641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .client-profile-card {
        width: auto;
        display: inline-block;
    }
    .profile-card-avatar{
        /*width: 130px;*/
    }
    .client-profile-card-loading-placeholder{
        width: 280px;
    }
}

@media (min-width: 961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@keyframes loading {
    0% {
        left: -45%;
    }
    100% {
        left: 100%;
    }
}