/* mobile first min-width sets base and content is adapted to computers. */
@media (min-width: 100px) {
    .main-note-status-assigned-user-div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 6%;
    }

    /*Style only direct div children*/
    .main-note-status-assigned-user-div > div {
    }

    #status-and-assigned-user-select-containers {
        margin: 0 auto 40px auto; /* Make it be on the top of right flex container and centered for mobile */
        flex-grow: 1; /*Needed to display max-width fit-content*/
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        column-gap: 0;
        row-gap: 20px;
        height: min-content;
        /* I wanted to do a nested flexbox (with both dropdowns) or grid that wraps before the container wraps
        but it seems to be impossible currently unfortunately https://stackoverflow.com/q/32661535/9013718 */
    }

    #status-and-assigned-user-select-containers > div {
    }


    #main-note-textarea-div {
        flex-grow: 100; /*Make it grow a lot more than the dropdown selects*/
        min-width: 100%;
        position: relative;
    }

    #main-note-textarea-div textarea {
        border-radius: 30px;
        border: 4px solid #2e3e50;
        padding: 15px 45px 15px 25px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        /*box-shadow: 0 0px 20px 10px #ffdfa3;*/
        background: rgba(46, 66, 80, 0.08);
        /*background: #2e3e50;*/
        color: #2e3e50;
        font-size: 18px;
        line-height: 23px;
        width: 100%;
    }

    #main-note-textarea-div textarea:focus {
        /*color: #2e3e50;*/
        /*border: 4px solid #9cbae3;*/
        outline: #2e3e50;
        box-shadow: 0 2px 10px rgba(46, 62, 80, 0.5);
    }

    .main-note-status-assigned-user-div select {
        /*border: 3px solid #2e3e50;*/
        background: #f3f3f3;
        color: #2e3e50;
        font-weight: bold;
        font-size: 16px;
        min-width: 100%;
    }

    .discrete-label {
        display: block;
        font-weight: bold;
        color: rgba(46, 62, 80, 0.84);
        font-size: 13px;
        margin: 0 0 5px 7px;
    }

    .textarea-label {
        margin: 0 0 7px 20px;
        color: black;
        font-weight: normal;
    }

    .delete-note-btn{
        width: 13px;
        vertical-align: middle;
        margin-left: 10px;
        cursor: pointer;
        display: none;
    }
    .note-container:hover .delete-note-btn {
        display: inline-block;
    }

    .note-created-date {
        float: right;
        margin-right: 20px;
        font-size: 12px;
        margin-top: 4px;
    }


    /*Flex container containing notes under activity and personal infos */
    #client-activity-personal-info-container {
        display: flex;
        flex-wrap: wrap-reverse;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 5vw;
    }

    #client-activity-personal-info-container > div {
        flex-basis: 100%;
    }

    #client-activity-textarea-container {
        /* Style to add checkmark icon on save source: https://stackoverflow.com/a/53123267/9013718 */
        position: relative;
        display: inline-block;
        /*width: 70%;*/
    }

    /*Extra relative positioned div for the checkmark loader to know to which element it has to position itself*/
    /*Using the > changes the description to: "Find any divs that are the direct descendents of section divs" which is what you want.*/
    #client-activity-textarea-container > div {
        width: 100%;
        position: relative;
    }

    #client-activity-textarea-container textarea {
        border-radius: 30px;
        border: none;
        width: 100%;
        font-size: 15px;
        background: rgba(46, 66, 80, 0.08);
        padding: 15px 45px 15px 25px;
        line-height: 21px;
        /*box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);*/
        margin-bottom: 20px;
    }

    #client-activity-textarea-container textarea:not([data-editable="0"]):focus {
        outline: #eef0f1;
        box-shadow: 0 2px 10px rgba(46, 62, 80, 0.24);
    }
    #client-activity-textarea-container textarea[data-editable="0"]:focus{
        outline: 1px solid #cccccc;
    }

    .circle-loader.client-read {
        position: absolute;
        right: 15px;
        top: 15px;
        /*box-shadow: 0 1px 3px rgba(46, 62, 80, 0.24);*/
    }

    /*This grid places all the icons and their span value with the same space between icon and text*/
    #client-personal-info-flex-container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 10px;
        border-radius: 30px;
        /*float: right;*/
        height: auto;
        margin: 0 0 0 0;
        box-shadow: 0 2px 7px rgba(0, 0, 0, 0.14);
        align-self: start; /*Make it not expand to the same height as activity notes*/
    }

    #client-personal-info-flex-container div {
        display: inline-grid;
        grid-template-columns: 20px auto;
        grid-row: auto;
        grid-column-gap: 15px;
        align-items: center;
        padding: 10px 15px;
        border-radius: 22px;
        cursor: pointer;
        margin-top: 0px;
        font-size: 20px;
        white-space: nowrap;
    }

    /*Increase icon size*/
    #client-personal-info-flex-container div img {
        width: 20px;
    }

    #client-personal-info-flex-container div:hover {
        box-shadow: 0 2px 5px rgba(46, 66, 80, 0.12);
        background: rgba(0, 0, 0, 0.05);
    }

    #client-personal-info-flex-container div:focus {
        background: rgba(0, 0, 0, 0.1);
    }


}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width: 641px) {
    #main-note-textarea-div {
        /*For the flex items to wrap*/
        min-width: 470px;
    }

    #status-and-assigned-user-select-containers {
        margin-top: 20px;
    }
}

/* last iPad portrait breakpoint is at 768 */
@media (min-width: 769px) {
    .main-note-status-assigned-user-div {
        margin-right: 4vw;
    }

    #status-and-assigned-user-select-containers {
        /*grid-template-columns: none;*/
        column-gap: 5vw;
        justify-content: end;
        flex-basis: auto;
    }

    #client-activity-personal-info-container {
        flex-wrap: nowrap;
        column-gap: 5vw;
        margin-right: 4vw;
    }

    #client-activity-personal-info-container > div {
        flex-basis: auto;
    }

    #client-activity-textarea-container {
        flex-grow: 1;
    }

    #client-personal-info-flex-container {
        flex-grow: 0;
        display: inline-block; /*From display flex to inline-block to wrap elements the easiest way*/
    }

    #client-personal-info-flex-container div {
        display: grid; /*From inline-grid to grid to prevent being on only one line for desktop*/
    }
}

@media (min-width: 961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    #client-activity-personal-info-container {
        /*column-gap: 10vw;*/
        margin-top: 0;
    }
}

/*Very large screens*/
@media (min-width: 1250px) {
    #status-and-assigned-user-select-containers {
        /*grid-template-columns: 1fr 1fr;*/
        column-gap: 5vw;
    }
}

