@font-face {
    font-family: CenturyGothic;
    src: url(../fonts/CenturyGothic.ttf);
}

body, html {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
#wrapper{
    min-height: 100vh;
}

/* Text */
* {
    box-sizing: border-box;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

a {
    color: black;
}

a:hover {
    font-weight: bold;
    text-decoration: none;
}

.no-style-a, .no-style-a:hover{
    font-weight: normal;
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}

.greenText{
    color: limegreen;
}

.breakParagraph {
    word-break: break-word;
}

/* Divs */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.noAnimationOnPageLoad{
    transition: none !important;
}



