/* mobile first min-width sets base and content is adapted to computers. */
@media (min-width: 100px) {
    .filter-chip-container{
        position: relative;
    }
    .active-filter-chips-div button{
        font-size: 14px;
        background: transparent;
        padding: 3px 10px 3px 10px;
        border-radius: 99px;
        border: 1px solid #d5d5d5;
        height: 35px; /* 35 minus top and bottom border */
        margin-top: 5px;
        cursor: pointer;
    }
    /*#available-filter-div-page-overlay{*/
    /*    position: fixed; !* Stay in place *!*/
    /*    z-index: 100;*/
    /*    !*padding-top: 100px; !* Location of the box *!*!*/
    /*    left: 0;*/
    /*    top: 0;*/
    /*    width: 100%;*/
    /*    height: 100%; !* Full height *!*/
    /*    display: none;*/
    /*}*/
    #available-filter-div{
        /*display: inline-block;*/
        display: none;
        padding: 10px;
        border-radius: 30px;
        /*border: 1px solid darkgrey;*/
        background: white;
        box-shadow:0 2px 10px rgba(0, 0, 0, 0.19);
        max-width: 480px;
        position: absolute;
        margin-top: 10px;
        z-index: 20; /* Has to be on top of client in list but below nav menu */
        vertical-align: middle;
    }
    .active-filter-chips-div button:active{
        background: transparent;
        /*background: #e1e1e1;*/
    }
    .active-filter-chips-div button:focus {
        /*background: transparent;*/
        background: #efefef;
    }

    .filter-chip{
        padding: 3px 14px 3px 14px;
        /*padding: 0 10px 0 10px;*/
        /*border: 1px solid #d5d5d5;*/
        font-size: 14px;
        font-weight: 500;
        margin: 5px 5px;
        background: #efefef;
        /*display: inline-block;*/
        display: inline-flex;
        align-items: center;
        position: relative;
        border-radius: 99px;
        /*line-height: 35px;*/
        min-height: 35px;
        /* If vertical-align is middle, the selected filters slip one px downwards and are not aligned with + filters btn */
        /*vertical-align: middle; */
    }
    /* Has to be in a span for the close button and label being centered both */
    .filter-chip span{
        color: #575757;

        font-weight: 500;
        font-size: 14px;
    }
    .filter-chip:hover{
        cursor: pointer;
    }
    .filter-chip-active {
        background: #e0e0e0;
        /*border: none;*/
    }
    .filter-chip-active::after{
        content: '×';
        color: #7c7c7c;
        font-size: 22px;
        padding: 0 3px 3px 11px; /* 3px padding bottom to compensate non center alignment of lowercase letters */
        font-weight: 400;
        margin: auto;
    }

    #no-more-available-filters-span{
        font-size: 14px;
        padding: 10px;
        display: none;
        /*font-weight: 500;*/
    }

    .filter-chip-container-label{
        display: block;
        margin-top: 10px;
        margin-left: 10px;
        font-size: 13px;
        font-weight: 500;
    }

}

/* After very small phones (fold) until iPhone 4 */
/* Breakpoint: location and phone number and the 2 selects one below other
for galaxy fold and very slim phones*/
@media (min-width: 311px) {

}

/* After very small phones (iPhone 4) until medium phones to big phones */
/* Breakpoint for the 2 select dropdowns to stay side by side
 and not one below the other */
@media (min-width: 337px) {


}
/*Very big phones or small tablets*/
@media (min-width: 420px) {

}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width: 641px) {

}

@media (min-width: 961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}