:root{
    --outer-box-border-radius: 20px;
    --input-boder-radius: 10px;
    --formColor: #6592a2;
    /* dark pink #660066*/
}
.form-box {
    /*min-width: 400px;*/
    width: 50%;
    min-width: 400px;
    border-radius: var(--outer-box-border-radius);
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);

}

.form input, .form textarea, .form select, .form textarea{
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    display: inline-block;
    border: 1px solid var(--formColor);
    border-radius: var(--input-boder-radius);
    box-sizing: border-box;
    font-size: 16px;
}

.form input[type=submit], .submitBtn {
    width: 100%;
    background-color: white;
    border: 1px solid var(--formColor);
    color: var(--formColor);
    padding: 8px 15px;
    margin: 15px 0 0;
    border-radius: 4444px;
    cursor: pointer;
    font-size: 100%;
}

.form input[type=submit]:hover, .submitBtn:hover {
    background: var(--formColor);
    color: white;
}

.form input[type=submit]:disabled, .submitBtn:disabled {
    border: 1px solid grey;
    background: whitesmoke;
    color: grey;
    cursor: default;
}

.form input:focus, .form textarea:focus, .form select:focus, .form textarea:focus {
    border: 2px solid var(--formColor);
    outline: none;
}
.form label {
     margin-top: 15px;
     margin-left: 4px;
     margin-bottom: 4px;
     vertical-align: top;
     display: block;
 }

.form label:first-child {
    margin-top: 5px;
}

.form input.wrong-cred-input{
    border: 2px solid #c0000a;
}

.err-msg{
    color: #c0000a;
}
.success-msg{
    font-weight: bold;
}

.input-warning{
    font-weight: 400;
    margin-top: 10px;
    display: inline-block;
    color: #d66500;
}
