:root{
    --outer-box-border-radius: 40px;
    --input-boder-radius: 100px;
    --formColor: #6592a2;
    /* dark pink #660066*/
}

/* mobile first min-width sets base and content is adapted to computers. */
@media (min-width:100px) {
    .form-background {
        width: 100%;
        /*background-color: var(--layout-main-color);*/
    }
    /* Form design source: https://codepen.io/abergin/pen/vYmaPE */
    .form-container {
        width: 100%;
        margin: 30px 0;
        border-radius: 33px;
        background: white;
        /*padding: 20px;*/
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
        position: relative;
        font-size: 17px;
        max-width: 625px;
        box-sizing: border-box;
        padding: 25px 15px;
    }

    .transition, .form-input-group label, .form-input-group input, .form input[type=submit], .submit-btn {
        transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    }
    .form-input-group {
        position: relative;
        padding: 10px 0;
    }
    .form-input-group:first-of-type {
        padding-top: 0;
    }
    .form-input-group:last-of-type {
        padding-bottom: 0;
    }
    .form-input-group label {
        transform-origin: left center;
        color: var(--layout-darker-main-color);
        /*color: black;*/
        font-weight: 100;
        letter-spacing: 0.01em;
        box-sizing: border-box;
        padding: 10px 15px;
        display: block;
        position: absolute;
        transform: translate(0, -100%);
        z-index: 2;
        pointer-events: none;
    }
    .form-input-group input, .form-input{
        appearance: none;
        border: none;
        /*box-shadow: 0 2px 10px rgba(63, 135, 166, 0.2);*/
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        font-size: 17px;
        width: 100%;
        display: block;
        box-sizing: border-box;
        padding: 10px 15px;
        border-radius: 60px;
        color: black;
        font-weight: 100;
        letter-spacing: 0.01em;
        position: relative;
        z-index: 1;
    }
    .form-input-group textarea, textarea.form-input {
        border-radius: 20px;
        padding: 15px;
    }
    .form-input-group input:hover, .form-input:hover {
        /*box-shadow: 0 0 10px rgba(63, 135, 166, 0.2);*/
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .form-input-group input:focus, .form-input:focus {
        outline: none;
        border-bottom: none;
    }
    /* Form input focus when input is inside .form-input-group and thus with floating label */
    .form-input-group input:focus {
        margin-top: 30px;
        background: var(--layout-darker-main-color);
        color: white;
    }

    .form-input-group input:-webkit-autofill:focus{
        /*top: 30px;*/
    }
    .form-input-group input:valid, .form-input-group input:-webkit-autofill {
        margin-top: 30px;
    }
    .form-input-group input:focus ~ label {
        transform: translate(0, -200%);
        color: black;
    }
    .form-input-group input:valid ~ label,
    .form-input-group input:-webkit-autofill ~ label {
        transform: translate(0, -200%);
    }

    .form input[type=submit], .submit-btn {
        width: 50%;
        border:none;
        /*box-shadow: 0 0 10px rgba(63, 135, 166, 0.2);*/
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        color: var(--layout-darker-main-color);
        /*color: black;*/
        background: white;
        padding: 8px 15px;
        margin: 25px 0 0;
        border-radius: 4444px;
        cursor: pointer;
        font-size: 100%;
    }

    .form input[type=submit]:hover, .submit-btn:hover {
        background: var(--layout-darker-main-color);
        color: white;
    }

    .form input[type=submit]:disabled, .submit-btn:disabled {
        /*border: 1px solid grey;*/
        background: whitesmoke;
        color: grey;
        cursor: default;
    }

    .form-container.invalid-input:focus, input.invalid-input:focus{
    }

    .invalid-form-container{
        /* No effects yet, can be added */
    }

    /* When form input group is faulty after submit (server response) */
    .input-group-error label{
        color: #9f0009;
        font-weight: bold;
    }
    .input-group-error input, input.invalid-input{
        border-bottom: 2px solid #c0000a;
    }

    .err-msg {
        padding: 10px 0 0 15px;
        display: block;
        /*color: #9f0009;*/
        font-size: 0.9em;
    }

    #form-general-error-msg{
        margin-bottom: 55px;
    }

    .success-msg {
        font-weight: bold;
    }

    .input-warning {
        font-weight: 400;
        margin-top: 10px;
        display: inline-block;
        color: #d66500;
    }

    .content-below-input{
        margin-left: 15px;
    }
}

@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .form-container {
        width: 90%;
        padding: 35px 25px;
        border-radius: 40px;
    }
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
    .form-container {
        width: 60%;
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

}
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
