/* General style */
#flash-container {
    float: right;
    /*overflow: hidden;*/
}

.flash {
    width: 340px;
    min-height: 70px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 30px 0 30px 0;
    background: white;
    display: flex;
    margin: 25px 0 10px 25px;
    transform: translateX(130%);
    opacity: 0;
    overflow: hidden;

    /* Revert default styling of <dialog> */
    position: relative;
    border: none;
    padding: 0;
    align-items: stretch;
}

.close-btn {
    position: absolute;
    top: -10px; /* Large font size and time symbol pretty small it has to be pushed upwards*/
    right: 10px;
    height: 30px;
    font-size: 40px;
    font-weight: lighter;
    color: lightgrey;
    cursor: pointer;
}

.flash-fig { /* Flex item */
    position: relative;
    width: 100px;
    /*height: 50px;*/
    /*border-radius: 10px;*/
    margin: 0;
    z-index: 1;
    /*background: red;*/
    flex-shrink: 0;
}

.flash-fig img {
    height: 40px; /* More relevant than width to have all images with the same size */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.flash-fig img.open {
    /* Sadly I cannot set the image url with the `content:` tag because its impossible set basepath for css*/
    display: block;
}

.flash.success .flash-fig {
    background: #3fcb64;
}

.flash.error .flash-fig {
    background: tomato;
}

.flash-message { /* Flex item */
    flex-grow: 1;
    /*background: .60c67e;*/
}

.flash-message h3 {
    margin: 10px 10px 6px 10px;
    font-size: 1rem;
    text-indent:-9999px; /* Change h3 text in css https://stackoverflow.com/a/26889106/9013718 */
}
.flash.success .flash-message h3:before{
    text-indent:0;
    float:left;
    content: 'YAY! Success!';
    color: #28a548;
}
.flash.error .flash-message h3:before{
    text-indent:0;
    float:left;
    content: 'OOPS! Error...';
    color: #ae4931;
}

.flash-message p {
    margin: 3px 10px 10px 10px;
    font-size: 0.9rem;
    width: 200px;
}

.slide-in {
    animation: slide-in 0.9s forwards;
}

.slide-out {
    animation: slide-out 0.9s forwards;
}

@keyframes slide-in {
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translateX(130%);
        opacity: 0;
    }
}


/* Boxes */
/*
.boxesDiv {
    !*background: lightpink;*!
    width: 100%;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.singleBox {
    !*overflow: hidden;*!
    min-width: 300px;
    display: inline-block;
    float: left;
    min-height: 100px;
    margin-left: 2%;
    margin-bottom: 40px;
    !*box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.1)!*, 3px 3px 3px 0 rgba(0, 0, 0, 0.05)*!;*!
}

.boxHeader {
    !*font-size: 1.5em;*!
    !*Remove default margin*!
    padding: 0 70px 0 0;
    margin: 0;
}
.boxContent {
    padding: 20px;
    position: relative;
    display: inline-block;
    background: #f2f2f2;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.boxContent:hover{
    box-shadow: inset 0 0 0 1px black;
}
.boxContent:hover > .delIcon,.boxContent:hover > .editIcon {
    display: inline;
}

.infoInBoxSpan {
    font-style: italic;
    color: #575757;
}

.contactBtn {
    width: 50%;
    margin: auto;
}

.breakParagraph {
    word-break: break-word;
}

.delIcon {
    display: none;
    width: 20px;;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 20px;
}
.editIcon {
    display: none;
    width: 30px;;
    position: absolute;
    right: 40px;
    top: 0px;
    margin: 15px;
}*/
