/* mobile first min-width sets base and content is adapted to computers. */
@media (min-width:100px)  {
    #wrapper{
        margin: 0.5em;
    }
    #pageContent {
        width: 100%;
        margin: 1.5em 0.5em 0.5em;
    }

    /* Nav */
    #brand-name-span{
        color: #757575;
        width: 80%;
        display: block;
        text-align: center;
        line-height: 50px;
    }

    #nav {
        overflow: hidden;
        /*background-color: #defeff;*/
        white-space: nowrap;
        position: relative;
        max-width: 100%;
        background-color: #fff;
        padding: 0 20px;
        margin-top: 20px;
        border-radius: 25px; /* Open borders shouldn't be too round*/
        box-shadow: 0 0 20px rgba(159, 162, 177, .3);
        height: 50px; /* fixed height to center nav-icon and bypass transition movement when opened*/
    }

    #nav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 20px 16px;
        text-decoration: none;
        /*font-size: 17px;*/
        transition: 0.3s;
        width: 50%;
        position: relative;
    }
    /* Vertically center first menu element when menu is closed */
/*    #nav:not(.open) a{
        top: 50%;
        transform: translateY(-50%)
    }*/

    #nav a:hover{
        font-weight: normal; /*default hover over links makes it bold*/
    }

/*    #nav a:first-child{
        width: 80%;
        text-align: left;
    }*/

    #nav a:before, #nav-indicator{
        position: absolute;
        left: 15%;
        width: 70%;
        height: 5px;
        border-radius: 8px 8px 0 0;
    }

    /* Similar than .nav-indicator */
    #nav a:before {
        content: "";
        bottom: -6px;
        background-color: #dfe2ea;
        opacity: 0;
        transition: 0.3s;
    }

    /* Here because it shares a lot with a:before*/
    #nav-indicator {
        bottom: 0;
        margin: auto;
        transition: 0.4s;
        z-index: 1;
    }

    #nav a/*:not(:first-child)*/ {
        display: none;
    }

    #nav a.icon {
        float: right;
        display: block;
    }

    #nav.open {
        /*position: relative;*/
        height: auto;
    }

    #nav.open .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    #nav.open a {
        display: block;
    }


    /*#nav a:hover {*/
    /*    background-color: white;*/
    /*    color: black;*/
    /*}*/
    #nav a:not(.is-active):hover:before {
        opacity: 1;
        bottom: 0;
    }
    #nav a:not(.is-active):hover {
        color: #333;
    }

    #nav a.active {
        /*background-color: #4CAF50;*/
        /*color: white;*/
    }

    :root{
        /* With a 50px height on nav div */
        --nav-icon-size: 0.8;
    }
    #nav-icon{
        width: calc(40px * var(--nav-icon-size));
        height: calc(30px * var(--nav-icon-size));
        position: absolute;
        right: 25px;
        top: calc(10px/ var(--nav-icon-size));
        float: right;
        display: block;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
    }

    #nav-icon span{
        display: block;
        position: absolute;
        height: calc(6px * var(--nav-icon-size));
        width: 100%;
        background: transparent; /* Is tinted in js on page load */
        border-radius: calc(6px * var(--nav-icon-size));
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
    #nav-icon span:nth-child(1) {
        top: 0;
    }

    #nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
        top: calc(12px * var(--nav-icon-size));
    }

    #nav-icon span:nth-child(4) {
        top: calc(24px * var(--nav-icon-size));
    }

    #nav.open #nav-icon span:nth-child(1) {
        top: calc(12px * var(--nav-icon-size));
        width: 0;
        left: 50%;
    }

    #nav.open #nav-icon span:nth-child(2) {
        transform: rotate(45deg);
    }

    #nav.open #nav-icon span:nth-child(3) {
        transform: rotate(-45deg);
    }

    #nav.open #nav-icon span:nth-child(4) {
        top: calc(12px * var(--nav-icon-size));
        width: 0;
        left: 50%;
    }
}
@media (min-width:340px)  {
    /* 340px enough wide to add letter-spacing*/
    #brand-name-span {
        letter-spacing: 1vw;
    }
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    #wrapper{
        margin: 2em;
    }
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
    #wrapper{
        width: 80%;
        margin: auto;
    }
    #nav{
        /*display: inline-flex;*/
        display: block;
    }
    #nav .icon {
        display: none;
    }
}
/* Desktop / mobile nav breakpoint. If min-width changes, layout.js should be updated as well */
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
    /* Desktop Nav */
    #brand-name-span{
        display: none;
    }
    #nav-icon{
        display: none;
    }
    #nav{
        height: auto;
        border-radius: 999px;
    }
    #nav a{
        float: none;
        display: inline-block;
        color: black;
        text-align: left;
        padding: 20px 16px;
        text-decoration: none;
        /*font-size: 17px;*/
        transition: 0.3s;
        width: auto;
        position: relative;
        margin: 0 6px;
    }
    #nav a:before, #nav-indicator {
        width: auto;
        left: 0;

    }


}
@media (min-width:1281px) { /* hi-res laptops and desktops */ }




