/* mobile first min-width sets base and content is adapted to computers. */
@media (min-width:100px)  {
    #wrapper{
        margin: 0.5em;
    }
    #pageContent {
        width: 100%;
        margin: 1.5em 0.5em 0.5em;
    }
}
@media (min-width:340px)  {

}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    #wrapper{
        margin: 2em;
    }
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
    #wrapper{
        width: 80%;
        margin: 2.3em auto;
    }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */

}
@media (min-width:1281px) { /* hi-res laptops and desktops */ }




