:root {
    --nav-icon-scale: 85%; /*Percentage*/
}

/* mobile first min-width sets base and content is adapted to computers. */
@media (min-width: 100px) {
    #nav-container {
        /*height: 100%; takes entire remaining space putting content at the bottom */
        left: 0;
        position: relative; /* For z-index and ui to work, relative on mobile and fixed for desktop */
    }

    nav {
        /*height: 50px; !* fixed height to center nav-icon and bypass transition movement when opened*!*/
        display: inline-block;
        max-width: 0; /* 0 on mobile, 80px on desktop for icons */
        border-radius: 32px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
        margin-top: 50px;
        margin-left: 15px;
        transition: max-width .5s ease-out;
        white-space: nowrap;
        overflow: hidden;
        z-index: 99;
        background: white;
        position: fixed;
        bottom: 100px;
    }

    /* Show menu when mobile nav is open */
    #nav-container.open nav{
        max-width: 230px;
        outline: 3px solid #2e3e50;
    }

    nav a {
        float: none;
        display: block;
        border-radius: 99px;
        /*text-align: left;*/
        padding: 14px 14px;
        text-decoration: none;
        font-weight: normal;
        /*font-size: 17px;*/
        /*transition: 0.3s;*/
        width: auto;
        position: relative;
        /*margin: 0 6px;*/
    }

    nav a:hover {
        background: rgba(0, 0, 0, .05);
        font-weight: normal;
    }

    /* Navigation icons */
    nav a img {
        width: 30px;
        vertical-align: middle;
    }

    /* Toggle hover image */
    /* Last of type is hover / focus image and first of type is normal icon*/
    nav a img:last-of-type {
        display: none;
    }

    nav a:hover img:first-of-type {
        display: none;
    }

    nav a:hover img:last-of-type {
        display: inline-block;
    }

    /* If link is active, display hover / focus image and hide normal one */
    nav a.is-active img:last-of-type {
        display: inline-block;
    }

    nav a.is-active img:first-of-type {
        display: none;
    }

    /* Show little background to emphasize active nav point except when hover */
    nav:not(:hover) a.is-active {
        background: rgba(0, 0, 0, .05);
    }
    nav a span {
        margin-left: 10px;
    }


    /* Container */
    #nav-mobile-toggle-icon {
        background: #2e3e50;
        border-radius: 99px;
        position: fixed;
        z-index: 99;
        bottom: 30px;
        left: 15px;
        width: 70px;
        height: 70px;
        transform: scale(var(--nav-icon-scale));
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

    #nav-burger-icon {
        width: 40px;
        height: 28px;
        position: absolute;
        display: block;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
    }

    #nav-burger-icon span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: #d3e0ff;
        border-radius: 6px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }

    #nav-burger-icon span:nth-child(1) {
        top: 0;
    }

    #nav-burger-icon span:nth-child(2), #nav-burger-icon span:nth-child(3) {
        top: 12px;
    }

    #nav-burger-icon span:nth-child(4) {
        top: 24px;
    }

    #nav-container.open #nav-burger-icon span:nth-child(1) {
        top: 12px;
        width: 0;
        left: 50%;
    }

    #nav-container.open #nav-burger-icon span:nth-child(2) {
        transform: rotate(45deg);
    }

    #nav-container.open #nav-burger-icon span:nth-child(3) {
        transform: rotate(-45deg);
    }

    #nav-container.open #nav-burger-icon span:nth-child(4) {
        top: 12px;
        width: 0;
        left: 50%;
    }

}

@media (min-width: 340px) {

}

@media (min-width: 641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

}

/* Desktop / mobile nav breakpoint. If min-width changes, navbar.js should be updated as well */
@media (min-width: 961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    #nav-burger-icon {
        display: none;
    }

    nav {
        display: inline-block;
        position: relative;
        bottom: initial;
        max-width: 80px;
        width: auto;
    }
    /* Hide nav label until hover */
    nav a span {
        margin-left: 10px;
        opacity: 0;
        height: 0;
        position: absolute;
        overflow: hidden;
    }
    nav:hover {
        max-width: 230px;
    }
    /* https://stackoverflow.com/a/47851820/9013718 */
    nav:hover > a span {
        /*display: inline-block;*/
        opacity: 1;
        height: auto;
        position: initial;
    }
    #nav-mobile-toggle-icon{
        display: none;
    }
    #nav-container {
        position: fixed;
        /*The z-index matters most here as its the most parent context of the menu*/
        z-index: 99;
    }
}

@media (min-width: 1025px) {
    /* big landscape tablets, laptops, and desktops */
    /*nav a:before, #nav-indicator {*/
    /*    width: auto;*/
    /*    left: 0;*/
    /*}*/
}

