/* Boxes */
#post-wrapper {
    width: 100%;
    display: flex;
    gap: 30px 40px;
    flex-wrap: wrap;
}

.box-header {
    /*font-size: 1.5em;*/
    /*Remove default margin*/
    padding: 0 70px 0 0;
    margin: 0;
}

.box-content {
    padding: 20px;
    position: relative;
    display: inline-block;
    background: var(--layout-tile-color);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    max-width: 650px;
    overflow-wrap: anywhere;
}

.box-content p{
}

.box-content:hover {
    box-shadow: inset 0 0 0 0px black;
}

.box-content:hover > .box-del-icon, .box-content:hover > .box-edit-icon {
    display: inline;
}

.info-in-box-span {
    font-style: italic;
    color: #575757;
}

.contact-btn {
    width: 50%;
    margin: auto;
}

.box-del-icon {
    display: none;
    width: 20px;;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 20px;
}

.box-edit-icon {
    display: none;
    width: 30px;;
    position: absolute;
    right: 40px;
    top: 0px;
    margin: 15px;
}
/* Loader that replaces the delete icon after clicking on it */
.post-box-del-loader{
/*  Loader size changed in javascript  */
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px 12px;
}

/* Preloading content placeholder*/
.load-wrapper{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgb(231, 231, 231);
    z-index: 8;
    overflow: hidden;
    border-radius: 5px;
}
.activity{
    position: absolute;
    left: -45%;
    height: 100%;
    width: 45%;
    background-image: linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
    background-image: -moz-linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
    background-image: -webkit-linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
    animation: loading 1s infinite;
    z-index: 9;
}

@keyframes loading {
    0%{
        left: -45%;
    }
    100%{
        left: 100%;
    }
}

.preloading-box-content{
    height: 190px;
    width: 280px;
    padding: 20px;
    border-radius: 20px;
/* Change box to look good for preloading */
    background: #f8f8f8;
}

.preloading-box-header {
    height: 28px;
}
.preloading-box-inner-content {
    height: 94px;
    margin-top: 21px;
    margin-bottom: 16px;
}

