/* mobile first min-width sets base and content is adapted to computers. */
@media (min-width: 100px) {
    #create-client-btn{
        /*margin-top: 0;*/
        width: 40px;
        height: 40px;
    }
    #client-wrapper, .client-wrapper {
        width: 100%;
        display: flex;
        /* Make items shrink if different height on same row */
        align-items: flex-start;
        gap: 30px 40px;
        flex-wrap: wrap;
        padding: 0 1em;
        margin-top: 30px;
    }
    .vertical-center, .vertical-center h1{
        /*margin-bottom: 15px;*/
    }

    /*Filter client by name*/
    #name-search-input {
        margin-bottom: 18px;
        padding: 8px;
        border-bottom: 1px solid #2e3e50;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        width: 100%;
        font-size: 16px;
        max-width: 400px;
    }
    #name-search-input:focus {
        border-bottom: 2px solid #2e3e50;
        outline: none;
    }

    /* Profile cards */
    .client-profile-card {
        width: 100%;
        min-width: 200px;
        /*position: relative; causes nav z-index to not work*/
        /*display: flex;*/
        display: inline-block;
        /*background: #f6f6f6;*/
        /*border: 1px solid rgba(243, 243, 243, 0.55);*/
        /*box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);*/
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
        /*border-radius: 100px 100px 30px 30px;*/
        border-radius: 30px;
        max-width: 650px;
        /*overflow-wrap: anywhere;*/
        /*white-space: nowrap;*/
        overflow: hidden; /* To prevent header and content overflowing border radius */
        /*perspective-origin: 50% 50%;*/
        /*transform-style: preserve-3d;*/
    }

    .client-profile-card:hover, .client-profile-card:focus {
        /*transform: perspective(1500px) rotateX(7deg);*/
        transform: translateY(-5px);
        transition: all 0.2s;
        box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.1), 0 8px 20px 0 rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

    .profile-card-header {
        /*More padding on the right side for mobile because of the age circle top right of the avatar*/
        padding: 20px 20px 5px 20px;
        /*background: #d7b9b9;*/
        background: white;
        /*width: 100%;*/
    }

    .profile-card-avatar {
        width: 100px;
        height: 100px;
        display: block; /* To center avatar image */
        margin: auto;
        position: relative;
        /*background: rgba(0,0,0,.1);*/
        background: #ececec;
        border-radius: 99px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }

    .profile-card-avatar img {
        padding: 5px;
        border-radius: 99px;
    }

    /* Age */
    .profile-card-age {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 35px;
        height: 35px;
        border-radius: 99px;
        z-index: 2;
        background: white;
        border: 3px solid #2e3e50;
        box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
        font-weight: bold;
        right: -20px;
        top: 5px;
    }

    .profile-card-content {
        padding: 0 20px 20px 20px;
        background: #ececec;
        width: 100%;
        /*position: relative; makes outline hidden behind content which is unwanted */
        font-size: 16px;
        height: 100%;
        /*flex-shrink: 2;*/
    }

    .client-profile-card h3 {
        padding-top: 18px;
        text-align: center;
        margin-top: 0; /* To prevent gap between divs */
        margin-bottom: 7px;
    }

    /* Two different flex boxes make the second one containing the dropdowns below the phone and location info */
    .profile-card-infos-flexbox, .profile-card-assignee-and-status {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around; /* align flex box items so that there is equal space left right and center for mobile*/
        column-gap: 15px;
        margin-bottom: 5px;
    }

    /* Make divs inside flexbox also flexbox to align text with icon*/
    .profile-card-infos-flexbox div {
        display: flex;
        align-items: center;
        margin-top: 10px; /* space here for when wrapping */
    }

    /* Name of the location */
    .profile-card-infos-flexbox div .profile-card-content-icon {
        margin-right: 10px;
        height: 20px;
    }

    .profile-card-assignee-and-status div {
        margin-top: 10px;
    /*For smallest version, min-width 80% that will be removed later*/
        min-width: 90%;
    }

    .profile-card-content select {
        width: 100%;
        font-size: 12px;
    }

    .profile-client-card:hover {
        box-shadow: inset 0 0 0 0px black;
    }

    .profile-client-card:hover > .card-del-icon, .profile-client-card:hover > .profile-card-edit-icon {
        display: inline;
    }


    .client-card-additional-info {
        font-style: italic;
        color: #575757;
        line-height: 1.5em;
        font-size: 0.9em;
        margin-bottom: 0;
    }

    .contact-btn {
        width: 50%;
        margin: auto;
    }

    .card-del-icon {
        display: none;
        width: 20px;;
        position: absolute;
        right: 0px;
        top: 0px;
        margin: 20px;
    }

    .card-edit-icon {
        display: none;
        width: 30px;;
        position: absolute;
        right: 40px;
        top: 0px;
        margin: 15px;
    }

    /* Loader that replaces the delete icon after clicking on it */
    .client-card-del-loader {
        /*  Loader size changed in javascript  */
        position: absolute;
        right: 0;
        top: 0;
        margin: 10px 12px;
    }
}

/* After very small phones (fold) until iPhone 4 */
/* Breakpoint: location and phone number and the 2 selects one below other
for galaxy fold and very slim phones*/
@media (min-width: 311px) {
    .profile-card-assignee-and-status div {
        min-width: initial;
    }
}

/* After very small phones (iPhone 4) until medium phones to big phones */
/* Breakpoint for the 2 select dropdowns to stay side by side
 and not one below the other */
@media (min-width: 337px) {
    .profile-card-content {
        font-size: 18px;
    }

    .profile-card-content select {
        font-size: 13px; /*From 12 to 13px */
    }

}
/*Very big phones or small tablets*/
@media (min-width: 420px) {
    /* Increase font and gap size for small tablet or big phone*/
    .profile-card-content {
        font-size: 21px;
    }
    .profile-card-content select {
        font-size: 16px;
    }
        .profile-card-assignee-and-status div {
        margin-top: 18px;
    }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width: 641px) {
    #client-wrapper, .client-wrapper {
        padding: 0 10px;
    }

    .client-profile-card {
        width: auto;
    }

    .profile-card-infos-flexbox, .profile-card-assignee-and-status {
        justify-content: space-between; /* align the flex box items to the left and right*/
    }

    .profile-card-avatar {
        /*width: 130px;*/
    }
    /* Reset values after mobile */
    .profile-card-content {
        font-size: initial;
    }
    .profile-card-content select {
        font-size: 13px; /*Reset to 13px*/
    }
    .profile-card-assignee-and-status div {
        margin-top: 10px; /*Set to 10px again after small tablet*/
    }
}

@media (min-width: 961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}